@model CV_Project.Models.Entity.Contact
@{
    ViewBag.Title = "GetContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3 class="container"> Gelen Mesaj</h3>
<form method="get" class="form-control-feedback">
    @Html.HiddenFor(x => x.ContactID)
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>E-Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Konu</label>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    <label>Mesaj</label>
    @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
    <br />
    

</form>
<a class="btn btn-info" href="/Contact/Index">Mesajlara Dön</a>

