@model CV_Project.Models.Entity.Experience
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3 class="container"> Deneyim Güncelleme Sayfası</h3>
<form method="post" class="form-control-feedback">
    @Html.HiddenFor(x=>x.ExperienceID)
    <label>Sektör</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Kurum Adı</label>
    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

